@using Bumbo.Data.Utils
@model ScheduleViewModel

@{
    ViewBag.Title = "Weekoverzicht";
    Layout = "_Layout";
}

@section PageStyles {
    <partial name="_TimelineStyles"/>
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css"/>
}

@section PageScripts {
    <partial name="_Timeline" model="@Model"/>
    @* Onboarding *@
    <partial name="Scripts/_Intro"/>
    <partial name="Scripts/_SearchScript"/>
    <partial name="Scripts/_DateRangePickerWeek"/>
    <script src="js/FileSaver.min.js"></script>
    <script src="js/dom-to-image.min.js"></script>
}

<div id="top-item-above-header">
    <partial name="Panes/_PrognosisWarnings" model="@Model.TimelinePrognosis"/>
</div>

<div class="row sticky-top z-index-2 bg-light pt-3">
    <h1>
        Rooster Scherm - Week @DateUtil.GetWeekNumberOfDateTime(DateTime.Parse(Model.StartDate))
        <a class="col-1 m-2 cursor-pointer" onclick="startDemo()">
            <i class="bi bi-info-circle fs-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Start hier de rondleiding"></i>
        </a>
    </h1>
    <div class="row justify-content-between mt-2">
        <div class="col-xl">
            <div class="row">
                <div class="col">
                    <form id="dateForm" method="POST">
                        <div class="input-group m-1">
                            @Html.HiddenFor(m => m.StartDate)
                            @Html.HiddenFor(m => m.EndDate)
                            <span class="input-group-text" id="basic-addon2">
                                <img src="assets/icons/Calendar.svg" alt="Calendar"/>
                            </span>
                            <input class="form-control form-control-solid" placeholder="Pick date rage" id="kt_daterangepicker_1"/>
                        </div>
                    </form>
                </div>
                <div class="col-4">
                    <div class="row justify-content-center">
                        @{
                            var previousWeek = DateTime.Parse(Model.StartDate).AddDays(-7).ToString("dd-MM-yyyy");
                            var nextWeek = DateTime.Parse(Model.StartDate).AddDays(7).ToString("dd-MM-yyyy");
                        }
                        <a class="col btn btn-secondary m-1" asp-controller="Schedule" asp-action="Index" asp-route-dateOfWeek="@previousWeek">
                            <i class="bi bi-arrow-left fs-2"></i>
                        </a>
                        <a class="col btn btn-secondary m-1" asp-controller="Schedule" asp-action="Index" asp-route-dateOfWeek="@nextWeek">
                            <i class="bi bi-arrow-right fs-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl d-flex justify-content-center">
            @{
                var departmentFilter = (@Model.DepartmentOptions, @Model.DepartmentFilter);
            }
            <partial name="Panes/_DepartmentFilter" model="@departmentFilter"/>
        </div>
        <div class="col-xl-2 d-none d-xl-block">
            <partial name="Panes/_ScheduleLegenda" model="@Model"/>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col">
            <partial name="Panes/_Search"/>
        </div>
        <div class="col">
            <partial name="Panes/_SortDropDown" model="@Model.Sortings"/>
        </div>
        <div class="col-2">
            @{
                var saveChangesModel = ("SaveChanges", "Schedule", Model.StartDate, true);
                <partial name="Panes/_SaveChanges" model="saveChangesModel"/>
            }
        </div>
        <div class="col-2">
            <partial name="Panes/_ExtraMenu" model="@Model"/>
        </div>
    </div>
</div>
<div id="kt_docs_vistimeline_group"></div>